/* Variabler ör färger */
:root{
    --Green: #4CAF50;
    --Light-Green: #A5D6A7;
    --Orange: #FF9800;
    --White: #FFFFFF;
    --Light-Gray: #E0E0E0;
}

body{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

/* Bakgrundfägr för navbar */
nav{
    background-color: var(--Light-Green);
}

.navTitle{
    background-color: var(--Green);
    color: var(--White);
    margin: 0px;
}

/* Färg för filterknappen */
#filterButton{
    background-color: var(--Green);
    color: var(--White);
}

/* Färg för knappar i navbar */
.navButtons{
    background-color: var(--Green);
    color: var(--White);
    font-size: 1.25rem;
}

/* Färger för header i modal */
.modalHeaderColor{
    background-color: var(--Light-Green);
}

/* Färger för kanppen som stänger ner en modal */
.closeButton{
    border-color: var(--Orange);
    color: var(--Orange);
}

.closeButton:hover{
    background-color: var(--Orange);
    color: var(--White);
}

/* Färger för bokningsknappen */
.bookButton{
    background-color: var(--Green);
    color: var(--White);
}

.bookButton:hover{
    background-color: var(--Green);
    color: var(--White);
}